body
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: sans-serif;
}
.text-loader
{
	position: relative;
	font-size: 3em;
	background: #fff;
	color: #000;
	text-transform: uppercase;
	letter-spacing: .5em;
	padding: 10px;
}
.text-loader span
{
	color: #fff;
	mix-blend-mode: difference;

}
.text-loader::before 
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	height: 100%;
	background: #000;
	-webkit-animation: move 5s ease normal infinite;
  -moz-animation: move 5s ease normal infinite;
  -ms-animation: move 5s ease normal infinite;
  -o-animation: move 5s ease normal infinite;
  animation: move 5s ease normal infinite;
	
}
@-webkit-keyframes move
{
	0%
	{
		left: 0;
	}
	50%
	{
		left: calc(100% - 90px);
	}
	100%
	{
		left: 0;
	}
}

@-moz-keyframes animate
{
	0%
	{
		left: 0;
	}
	50%
	{
		left: calc(100% - 90px);
	}
	100%
	{
		left: 0;
	}
}
@keyframes animate
{
	0%
	{
		left: 0;
	}
	50%
	{
		left: calc(100% - 90px);
	}
	100%
	{
		left: 0;
	}
}
